.my-product-size {
    height: 230px;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(235, 235, 235);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.product-title {
    color: rgb(41, 44, 48);
}

.best-coupon-codes-link {
    background-color: #ff4a2e;
}

.my-custom-a:hover {
    color: white;
}

.my-custom-a:active {
    color: white;
}

.my-custom-a:visited {
    color: white;
}

.my-custom-a:link {
    color: white;
}
